@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Poppins:wght@700&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+KR&family=Poppins:wght@700&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');



*{ 
    /* font-family: Fira Sans, Arial; */
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Montserrat',sans-serif;
}
.logo{
  font-family: 'Roboto', sans-serif;
}
.ko{
  font-family: 'Pretendard-Regular';
}
/* 스크롤 이벤트 떄문에 마우스 드래그시 가로로 계속 가는 현상을 막기위해서 */
body{ 
  overflow-x: hidden; 
}


/* 다크모드 */
* {
  @apply dark:text-white dark:bg-gray-800; 
  
}





/* Main */
.txt-box{
  -webkit-text-stroke: 0.02em rgb(125, 168, 208); 
}






.shadow-off{
    box-shadow: -6px -5px 14px 3px #fff, 7px 7px 12px 0px #d0d8e3;
    text-shadow: 0 0 4px #fff;
    
}
.shadow-on{
  box-shadow: -6px -5px 14px 3px rgb(241,244,245), 7px 7px 12px 0px #d0d8e3;
  text-shadow: 0 0 4px #fff;
}
.wave{
    animation: morph 8s ease-in-out infinite;
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    background: rgb(241,244,245);
    background: radial-gradient(circle, rgba(241,244,245,1) 0%, rgba(228,236,244,1) 31%, rgba(196,226,255,1) 100%);
}


@keyframes morph {
    0% { border-radius: 60% 40% 30% 70%/60% 30% 70% 40%}
    30% { border-radius: 55% 40% 30% 70%/50% 30% 60% 40%}
    50% { border-radius: 45% 60% 70% 40%/50% 40% 50% 60%}
    70% { border-radius: 35% 60% 70% 40%/50% 60% 30% 60%}
    100% {border-radius: 60% 40% 30% 70%/60% 30% 70% 40%}
  }

@keyframes spin {
    0% { transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

/* Header */
.nav::before{
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  bottom: 0;
  left: 0;
  background: #0F172A;
  transition: 0.6s ;
  font-weight: bold;
}
.nav:hover::before{
  width: 100%;
}

/* About */
@keyframes animateRect{
  from{
    opacity: 0.8;
    transform: scale(0.5);
  }
  to{
    opacity: 1;
    transform: scale(1.2);
  }
} 


.profile{
  background: url("../public/images/me.jpg");
  background-size: cover;
  object-fit: cover;
  /* 크로스브라우징  /style={{backgroundPositionY:position /1}}*/
}



/* Projects */
/* .filters span:before{content: ""; position: absolute; right: 5px; height: 15px; width: 15px; background-repeat: no-repeat ; background-position: center; background-size: cover;} */




/* LoadingPage */

  .card1 {
    position: absolute;
    top: 0%;
    left: 40%;
    transform: rotate(0deg);
  }
  
  .card2 {
    position: absolute;
    top: 15%;
    left:75%;
    transform: rotate(45deg);
    
  }
  
  .card3 {
    position: absolute;
    top: 50%;
    left: 90%;
    transform: rotate(90deg);
  }
  
  .card4 {
    position: absolute;
    top: 85%;
    left: 75%;
    transform: rotate(135deg);
  }
  
  .card5 {
    position: absolute;
    top: 100%;
    left: 40%;
    transform: rotate(180deg);
  }
  
  .card6 {
    position: absolute;
    top: 85%;
    right: 70%;
    transform: rotate(225deg);
  }
  
  .card7 {
    position: absolute;
    top: 50%;
    right: 85%;
    transform: rotate(270deg);
  }
  
  .card8 {
    position: absolute;
    top: 15%;
    right: 70%;
    transform: rotate(315deg);
  }
  
@media screen and (max-width:768px){
  .card1{top: 0%;  left: 40%; }
  .card2{top: 13%; left: 71%;}
  .card3{top: 44%; left: 83%;}
  .card4{top: 76%; left: 72%;}
  .card5{top: 90%; left: 40%;}
  .card6{top: 78%; right: 70%;}
  .card7{top: 45%; right: 82%;}
  .card8{top: 13%; right: 69%;}
}


.fade-in {
  opacity: 1;
  animation: fadeIn linear 0.5s;
}

.fade-out {
  opacity: 0;
  animation: fadeOut linear 0.5s;
}

@keyframes fadein {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

@keyframes fadeout{
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}


